body {
    background-color: #edf2f4;
}


main {
    width: 100%;

}

nav {
    height: 75px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}



#addBtn {
    margin-top: 2rem;

}

.booksContainer {
    margin-top: 2rem;

}

/* modal  */
.modal-body {
    display: block;
    align-items: center;
    /* justify-content: ; */
}

#author {
    margin: 0.5rem 1rem 1.5rem 0;
}

label {
    font-size: 1.1rem;
}